[submodule "SHA-Intrinsics"]
	path = hashes/SHA-Intrinsics
	url = https://github.com/noloader/SHA-Intrinsics
[submodule "mx3"]
	path = hashes/mx3
	url = https://github.com/jonmaiga/mx3
[submodule "prvhash"]
	path = hashes/prvhash
	url = https://github.com/avaneev/prvhash
[submodule "hash-garage"]
	path = hashes/hash-garage
	url = https://github.com/gzm55/hash-garage
[submodule "komihash"]
	path = hashes/komihash
	url = https://github.com/avaneev/komihash.git
